﻿@model SignalRMVCChat.Service.WebsiteStatisticsViewModel

<style>
    .stat .col-4{
    display: flex;
    }
</style>
    <p style="text-align: center">تعداد کاربران :</p>
<div class="row stat">

    
    <div class="col-4">
    <label>کل بازدید کنندگان</label>
    <span> : @Model.TotalVisiters</span>
</div>
<div class="row stat">

    
    <div class="col-4">
    <label> آنلاین</label>
    <span> : @Model.totalOnline   </span>
</div>

<div class="col-4">
    <label> چت کرده آنلاین</label>
    @if (Model.totalChattedOnline == Model.totalOnline)
        {
            <span> : همه</span>
    
        }
        else
        {
            <span> : @Model.totalChattedOnline    از کل @Model.totalOnline </span>
    
        }
</div>

<div class="col-4">
    <label> چت کرده</label>
    @if (Model.TotalChatted == Model.TotalVisiters)
    {
        <span> : همه</span>

    }
    else
    {
        <span> : @Model.TotalChatted از کل   @Model.TotalVisiters</span>

    }
</div>


<div class="col-4">
    <label>	 بازگشت مجدد به سایت (چت کرده ) </label>
    <span> : @Model.totalChattedReturned</span>
</div>

<div class="col-4">
    <label> چت نکرده از کل</label>
    <span> : @Model.totalNotChattedCustomers</span>
</div>

<div class="col-4">
    <label> آنلاین ، چت نکرده</label>
    <span> : @Model.totalNotChattedOnline</span>
</div>

<div class="col-4">
    <label> بازگشت مجدد به سایت (چت نکرده )</label>
    <span> : @Model.totalNotChattedReturned</span>
</div>
<div class="col-4">
    <label> چت کرده و بازنگشته است</label>
    <span> : @Model.TotalChattedNotReturned</span>
</div>
<div class="col-4">
    <label>کاربران ترک کرده ، یا از دست رفته</label>
    <span> : @Model.TotalOfflinedNotChattedCustomers</span>
</div>



<div class="col-12" dir="ltr">
    <table class="table">
        
        <thead>
         <tr>
                    <th style="text-align: center" colspan="99">پر بازدید ترین صفحات ( آمار فعالیت سایت )</th>
                </tr>
        <tr>
            <th>آدرس</th>
            <th>تعداد بازدید</th>
        </tr>
        </thead>
        <tbody style="max-height: 300px;overflow: auto">
         @{
                    var visitedPages = Model.MostVisitedPages.OrderByDescending(o => o.VisitedCount).ToList();
                }
                @foreach (var info in visitedPages)
                {
                    <tr>
                    <td>@info.BaseUrl </td>
        <td style="text-align: center">   @info.VisitedCount   </td>
        </tr>
                }
        
        </tbody>
       
    </table>
</div>
</div>