﻿@model dynamic

@{
    ViewBag.Title = "راهنما و مستندات";
    Layout = "../Shared/_Layout.cshtml";
}

<h2 style="text-align:center">@ViewBag.Title</h2>
<style>
        .card * {
            text-align: right;
            direction: rtl;
        }

        .card {
            height: 450px;
        }
    </style>

<section class="banner bg-circle" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">مستندات</h5>
                        <p class="card-text">فعلا هیچ مستندی ثبت نشده است</p>
                        <a href="#" class="card-link">مشاهده</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">سوالات متداول</h5>
                        <p class="card-text">هیچ سوالی ثبت نشده است</p>
                        <a href="#" class="card-link">مشاهده </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

