﻿@using System.Data.Entity
@using SignalRMVCChat.Areas.Common.Service
@using SignalRMVCChat.Areas.security.Service
@using SignalRMVCChat.DependencyInjection
@using SignalRMVCChat.Extentions
@using SignalRMVCChat.SysAdmin.Service
@using TelegramBotsWebApplication.ActionFilters
@model TelegramBotsWebApplication.Areas.Admin.Models.MyEntityResponse<SignalRMVCChat.Areas.security.Models.Ticket>

@{
    var appUserId = CurrentRequestSingleton.CurrentRequest.AppLoginViewModel.AppUserId;


    var _appRoleService = Injector.Inject<AppRoleService>();
    var _ticketService = Injector.Inject<TicketService>();

    bool isCustomer = _appRoleService.IsInRole(appUserId, "customer");
    var ticketIdstr = Request.Params["ticketId"] ?? "";

    int ticketId = 0;
    int.TryParse(ticketIdstr, out ticketId);

    if (ticketId != 0)
    {
        var ticket = _ticketService.GetById(ticketId).Single;

        if (CurrentRequestSingleton.CurrentRequest.AppLoginViewModel.IsAdmin)
        {
            ticket.AdminTicketSeenStatus =
       SignalRMVCChat.Areas.security.Models.TicketSeenStatus.Seen;
        }
        else
        {
            ticket.CustomerTicketSeenStatus =
           SignalRMVCChat.Areas.security.Models.TicketSeenStatus.Seen;
        }


        _ticketService.Save(ticket);
    }
}

<form action="/Common/Ticket/Save" method="post" enctype="multipart/form-data">

    @if (!CurrentRequestSingleton.CurrentRequest.AppLoginViewModel.IsAdmin)
    {
        <input hidden="hidden" name="AppUserId" value="@appUserId" />

        @Html.Hidden("IsAdmin", false)

    }
    else
    {
        <input hidden="hidden" name="AppAdminId" value="@appUserId" />
        @Html.Hidden("IsAdmin", true)

    }




    <input hidden="hidden" name="ReturnUrl" value="@Model.Single.ReturnUrl" />
    <input hidden="hidden" name="ParentId" value="@ticketIdstr" />
    <input hidden="hidden" name="Status" value="@Model.Single.Status" />

    <div class="form-group">
        <label>
            عنوان
        </label>
        <input required="required" class="form-control" name="Title" value="@Model.Single.Title" />

    </div>

    <div class="form-group">
        <label>
            متن
        </label>
        <textarea required="required" class="form-control" name="Body" value="@Model.Single.Body"></textarea>
    </div>


    <div class="form-group">
        <label>
            فایل
        </label>
        <input multiple="multiple" type="file" id="file" name="files" accept="application/pdf,application/zip,image/*" />
        <span> فایل های pdf ، Zip و تصاویر مورد قبول است</span>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">ارسال</button>
    </div>


</form>


