﻿@using SignalRMVCChat.DependencyInjection
@using SignalRMVCChat.Service
@using SignalRMVCChat.SysAdmin.Service
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
      <link rel="shortcut icon" href="~/Content/HelpImages/logo.png" />
  <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<link href="/Content/fontAwsome/fontAwsome.css"
      rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="محمد جعفریان خسروشاهی">
    <title>@ViewBag.Title - گپ افزونه ( پلاگین ) پشتیبانی وب سایت </title>
    @*@Styles.Render("~/bundles/css/customer")*@


    <link rel="stylesheet" href="~/Content/adminty-master/files/assets/css/style.css"/>
    <link rel="stylesheet" href="~/Content/adminty-master/files/bower_components/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/adminty-master/files/assets/css/bootstrap_rtl.css"/>
    <link rel="stylesheet" href="~/Content/adminty-master/files/assets/icon/themify-icons/themify-icons.css"/>
    <link rel="stylesheet" href="~/Content/adminty-master/files/assets/icon/icofont/css/icofont.css"/>
    <link rel="stylesheet" href="~/Content/adminty-master/files/assets/icon/feather/css/feather.css"/>
    <link rel="stylesheet" href="~/Content/adminty-master/files/assets/pages/prism/prism.css"/>
    <link rel="stylesheet" href="~/Content/adminty-master/files/assets/css/jquery.mCustomScrollbar.css"/>

    <link rel="stylesheet" href="~/Content/bootstrap.css"/>
    <link rel="stylesheet" href="~/Content/Site.css"/>

    <style>
        .active{
             color: coral !important;
             }
                .active a{
                     color: coral !important;
                     }
    </style>

    @Scripts.Render("~/bundles/modernizr")
    
    
    
    
    
    
    <script data-pace-options='{ "ajax": true ,"restartOnRequestAfter":true}' 
            src="~/Content/pace.js"></script>
    <script>
        paceOptions = {
            catchupTime: 100,
            initialRate: .03,
            minTime: 250,
            ghostTime: 100,
            maxProgressPerFrame: 20,
            easeFactor: 1.25,
            startOnPageLoad: true,
            restartOnPushState: false,
            restartOnRequestAfter: 500,
            target: 'body',
            elements: {
                checkInterval: 100,
                selectors: ['body']
            },
            eventLag: {
                minSamples: 10,
                sampleCount: 3,
                lagThreshold: 3
            },
            ajax: {
                trackMethods: [],
                trackWebSockets: true,
                ignoreURLs: []
            }
        }

    </script>
</head>
<body>
    
<div style="position: relative" id="disableBackgroundholder">

</div>
<div id="loading2" class="pace-running pace-running">
    <div class="pace pace-active">
        <div class="pace-progress" data-progress-text="0%" data-progress="00" style="transform: translate3d(0%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
</div>
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->

<!-- Menu header start -->
<div id="pcoded" class="pcoded">
<div class="pcoded-overlay-box"></div>
<div class="pcoded-container navbar-wrapper">

    <nav class="navbar header-navbar pcoded-header noLayout">
    <div class="navbar-wrapper">
        <div class="navbar-logo" style="background-color: white;color:black">
            <a style="text-align: right;    color: black;
                          font-size: 35px !important;" class="mobile-menu" id="mobile-collapse"  href="#!">
                <i class="feather icon-menu"></i>
            </a>
            <a href="/Customer/Dashboard" style="color: black">
                <h3 style="color: black">پیشخوان</h3>
            </a>
            <a class="mobile-options">
                <i class="feather icon-more-horizontal"></i>
            </a>
        </div>

        <div class="navbar-container container-fluid">
            <ul class="nav-left">
                <li class="header-search">
                    <div class="main-search morphsearch-search">
                        <div class="input-group">
                            <span class="input-group-addon search-close">
                                <i class="feather icon-x"></i>
                            </span>
                            @*<input type="text" class="form-control">
                            <span class="input-group-addon search-btn">
                                <i class="feather icon-search"></i>
                            </span>*@
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#!" onclick="javascript:toggleFullScreen()">
                        <i class="feather icon-maximize full-screen"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav-right">
                @*
                <li class="header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-bell"></i>
                            <span class="badge bg-c-pink">5</span>
                        </div>
                        <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            <li>
                                <h6>Notifications</h6>
                                <label class="label label-danger">New</label>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center img-radius" src="..\files\assets\images\avatar-4.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user">John Doe</h5>
                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                        <span class="notification-time">30 minutes ago</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center img-radius" src="..\files\assets\images\avatar-3.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user">Joseph William</h5>
                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                        <span class="notification-time">30 minutes ago</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center img-radius" src="..\files\assets\images\avatar-4.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user">Sara Soudein</h5>
                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                        <span class="notification-time">30 minutes ago</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                *@
                @*<li class="header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-message-square"></i>
                            <span class="badge bg-c-green">3</span>
                        </div>
                    </div>
                </li>*@
                <li class="header-notification">
                    <a id="ticketsPage" href="/Customer/CustomerTickets/Index">
                        تیکت ها
                    </a>
                </li>
                <li class="header-notification">
                    <a id="sendTicketPage" href="/Customer/CustomerTickets/Detail">
                        ارسال تیکت
                    </a>
                </li>
                @{
                    var planName = MyAccountProviderService.GetCurrentPlan()?.Name ?? "معمولی";
                }

                <li class="header-notification">
                    <a id="CurrentPlan" href="/Customer/UpgradePlan/Index">
                        پلن : @planName
                    </a>
                </li>

                <li class="user-profile header-notification">
                    <div class="dropdown-primary dropdown" id="profilelink">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <span>پروفایل</span>
                            <i class="feather icon-chevron-down"></i>
                        </div>
                        <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            @*<li>
                                <a href="#!">
                                    <i class="feather icon-settings"></i> Settings
                                </a>
                            </li>
                            <li>
                                <a href="user-profile.htm">
                                    <i class="feather icon-user"></i> Profile
                                </a>
                            </li>
                            <li>
                                <a href="email-inbox.htm">
                                    <i class="feather icon-mail"></i> My Messages
                                </a>
                            </li>
                            <li>
                                <a href="auth-lock-screen.htm">
                  public static string GetBaseUrl(dynamic Request)                  <i class="feather icon-lock"></i> Lock Screen
                                </a>
                            </li>*@
                            <li onclick="document.getElementById('logoutForm').submit()">
                                @using (Html.BeginForm("LogOff", "Account"
                                    , new {area = ""}, FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
                                {
                                    @Html.AntiForgeryToken()
                                }
                                <a id="logout" href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="feather icon-log-out"></i> خروج
                                </a>
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Sidebar chat start -->
<div id="sidebar" class="users p-chat-user showChat">
    <div class="had-container">
        <div class="card card_main p-fixed users-main">
            <div class="user-box">
                <div class="chat-inner-header">
                    <div class="back_chatBox">
                        <div class="right-icon-control">
                            <input type="text" class="form-control  search-text" placeholder="Search Friend" id="search-friends">
                            <div class="form-icon">
                                <i class="icofont icofont-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-friend-list">
                    <div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">
                        <a class="media-left" href="#!">
                            <img class="media-object img-radius img-radius" src="..\files\assets\images\avatar-3.jpg" alt="Generic placeholder image ">
                            <div class="live-status bg-success"></div>
                        </a>
                        <div class="media-body">
                            <div class="f-13 chat-header">Josephin Doe</div>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe" data-toggle="tooltip" data-placement="left" title="Lary Doe">
                        <a class="media-left" href="#!">
                            <img class="media-object img-radius" src="..\files\assets\images\avatar-2.jpg" alt="Generic placeholder image">
                            <div class="live-status bg-success"></div>
                        </a>
                        <div class="media-body">
                            <div class="f-13 chat-header">Lary Doe</div>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="3" data-status="online" data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
                        <a class="media-left" href="#!">
                            <img class="media-object img-radius" src="..\files\assets\images\avatar-4.jpg" alt="Generic placeholder image">
                            <div class="live-status bg-success"></div>
                        </a>
                        <div class="media-body">
                            <div class="f-13 chat-header">Alice</div>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="4" data-status="online" data-username="Alia" data-toggle="tooltip" data-placement="left" title="Alia">
                        <a class="media-left" href="#!">
                            <img class="media-object img-radius" src="..\files\assets\images\avatar-3.jpg" alt="Generic placeholder image">
                            <div class="live-status bg-success"></div>
                        </a>
                        <div class="media-body">
                            <div class="f-13 chat-header">Alia</div>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="5" data-status="online" data-username="Suzen" data-toggle="tooltip" data-placement="left" title="Suzen">
                        <a class="media-left" href="#!">
                            <img class="media-object img-radius" src="..\files\assets\images\avatar-2.jpg" alt="Generic placeholder image">
                            <div class="live-status bg-success"></div>
                        </a>
                        <div class="media-body">
                            <div class="f-13 chat-header">Suzen</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sidebar inner chat start-->
<div class="showChat_inner">
    <div class="media chat-inner-header">
        <a class="back_chatBox">
            <i class="feather icon-chevron-left"></i> Josephin Doe
        </a>
    </div>
    <div class="media chat-messages">
        <a class="media-left photo-table" href="#!">
            <img class="media-object img-radius img-radius m-t-5" src="..\files\assets\images\avatar-3.jpg" alt="Generic placeholder image">
        </a>
        <div class="media-body chat-menu-content">
            <div class="">
                <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                <p class="chat-time">8:20 a.m.</p>
            </div>
        </div>
    </div>
    <div class="media chat-messages">
        <div class="media-body chat-menu-reply">
            <div class="">
                <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                <p class="chat-time">8:20 a.m.</p>
            </div>
        </div>
        <div class="media-right photo-table">
            <a href="#!">
                <img class="media-object img-radius img-radius m-t-5" src="..\files\assets\images\avatar-4.jpg" alt="Generic placeholder image">
            </a>
        </div>
    </div>
    <div class="chat-reply-box p-b-20">
        <div class="right-icon-control">
            <input type="text" class="form-control search-text" placeholder="Share Your Thoughts">
            <div class="form-icon">
                <i class="feather icon-navigation"></i>
            </div>
        </div>
    </div>
</div>
<!-- Sidebar inner chat end-->
<div class="pcoded-main-container ">

    <div class="pcoded-wrapper">

<nav class="pcoded-navbar noLayout">
<div class="pcoded-inner-navbar main-menu">
<div class="pcoded-navigatio-lavel">منوی اصلی</div>
<ul class="pcoded-item pcoded-left-item">
     <li class=" @(Request.Url.PathAndQuery.ToString()=="/customer/dashboard" ? "active" : "")">
                    <a href="/customer/dashboard">
                        <span class="pcoded-mtext">پیشخوان</span>
                        @*
                        
                    *@
                    </a>
                </li>
    @*<li class="pcoded-hasmenu pcoded-trigger" dropdown-icon="style1" subitem-icon="style1">
        <a href="javascript:void(0)" style="padding-right: 0px">
            <span class="pcoded-mtext" style="text-align: right !important;">نصب افزونه </span>
        </a>
        <ul class="pcoded-submenu">
            <li class="@(Request.Url.ToString().Contains("/customer/dashboard/CreatePluginForCustomers") ? "active" : "")">
                <a href="/customer/dashboard/CreatePluginForCustomers">
                    <span class="pcoded-mtext">افزونه بازدیدکنندگان</span>
                    
                </a>
            </li>
            <li class="@(Request.Url.PathAndQuery.ToString().Contains("/customer/dashboard/CreatePluginForAdmins") ? "active" : "")">
                <a href="/customer/dashboard/CreatePluginForAdmins">
                    <span class="pcoded-mtext">افزونه پشتیبانی و ادمین</span>
                    
                </a>
            </li>


            $1$<li class=" ">
                                                <a href="dashboard-analytics.htm">
                                                    <span class="pcoded-mtext">Analytics</span>
                                                    <span class="pcoded-badge label label-info ">NEW</span>
                                                </a>
                                            </li>#1#
        </ul>
    </li>
    *@

    @*<li class="pcoded-hasmenu active pcoded-trigger">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                                        <span class="pcoded-mtext">Page layouts</span>
                                        <span class="pcoded-badge label label-warning">NEW</span>
                                    </a>
                                    $1$<ul class="pcoded-submenu">
                                        <li class=" pcoded-hasmenu">
                                            <a href="javascript:void(0)">
                                                <span class="pcoded-mtext">Vertical</span>
                                            </a>
                                            <ul class="pcoded-submenu">
                                                <li class=" ">
                                                    <a href="menu-static.htm">
                                                        <span class="pcoded-mtext">Static Layout</span>
                                                    </a>
                                                </li>
                                                <li class=" ">
                                                    <a href="menu-header-fixed.htm">
                                                        <span class="pcoded-mtext">Header Fixed</span>
                                                    </a>
                                                </li>
                                                <li class=" ">
                                                    <a href="menu-compact.htm">
                                                        <span class="pcoded-mtext">Compact</span>
                                                    </a>
                                                </li>
                                                <li class=" ">
                                                    <a href="menu-sidebar.htm">
                                                        <span class="pcoded-mtext">Sidebar Fixed</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li class=" pcoded-hasmenu">
                                            <a href="javascript:void(0)">
                                                <span class="pcoded-mtext">Horizontal</span>
                                            </a>
                                            <ul class="pcoded-submenu">
                                                <li class=" ">
                                                    <a href="menu-horizontal-static.htm" target="_blank">
                                                        <span class="pcoded-mtext">Static Layout</span>
                                                    </a>
                                                </li>
                                                <li class=" ">
                                                    <a href="menu-horizontal-fixed.htm" target="_blank">
                                                        <span class="pcoded-mtext">Fixed layout</span>
                                                    </a>
                                                </li>
                                                <li class=" ">
                                                    <a href="menu-horizontal-icon.htm" target="_blank">
                                                        <span class="pcoded-mtext">Static With Icon</span>
                                                    </a>
                                                </li>
                                                <li class=" ">
                                                    <a href="menu-horizontal-icon-fixed.htm" target="_blank">
                                                        <span class="pcoded-mtext">Fixed With Icon</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class=" ">
                                            <a href="menu-bottom.htm">
                                                <span class="pcoded-mtext">Bottom Menu</span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="box-layout.htm" target="_blank">
                                                <span class="pcoded-mtext">Box Layout</span>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="menu-rtl.htm" target="_blank">
                                                <span class="pcoded-mtext">RTL</span>
                                            </a>
                                        </li>
                                    </ul>#1#
                                </li>*@
    @*<li class="">
                                    <a href="navbar-light.htm">
                                        <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                                        <span class="pcoded-mtext">Navigation</span>
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                                        <span class="pcoded-mtext">Widget</span>
                                        <span class="pcoded-badge label label-danger">100+</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class="">
                                            <a href="widget-statistic.htm">
                                                <span class="pcoded-mtext">Statistic</span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="widget-data.htm">
                                                <span class="pcoded-mtext">Data</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="widget-chart.htm">
                                                <span class="pcoded-mtext">Chart Widget</span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>*@
</ul>
 

<ul class="pcoded-item pcoded-left-item">
  <li class="@(Request.Url.PathAndQuery.ToString().Contains("/customer/dashboard/CreatePluginForAdmins") ? "active" : "")">
      <a href="/customer/dashboard/CreatePluginForAdmins">
           <span class="pcoded-micon onMobile">
                          <i class="feather icon-menu"></i>
                      </span>
          <span class="pcoded-mtext">افزونه پشتیبانی و ادمین</span>

      </a>
  </li>
</ul>
<ul class="pcoded-item pcoded-left-item">
    <li class="@(Request.Url.ToString().Contains("/customer/dashboard/CreatePluginForCustomers") ? "active" : "")">
        <a href="/customer/dashboard/CreatePluginForCustomers">
             <span class="pcoded-micon onMobile">
                            <i class="feather icon-menu"></i>
                        </span>
            <span class="pcoded-mtext">افزونه بازدیدکنندگان</span>

        </a>
                </li>
</ul>
@*
<ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
    <li class="pcoded-hasmenu pcoded-trigger" dropdown-icon="style1" subitem-icon="style1">
        <a href="javascript:void(0)" style="padding-right: 0px">
            <span class="pcoded-mtext" style="text-align: right !important;">تنظیمات </span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" @(Request.Url.PathAndQuery.ToLower().Contains("/customer/MyWebsites/Index".ToLower()) ? "active" : "")">
                <a href="/customer/MyWebsites/Index">
                    <span class="pcoded-mtext">سایت های من</span>
                    
                </a>
            </li>
            <li class="@(Request.Url.PathAndQuery.ToLower().Contains("/customer/MyAccounts/Index".ToLower()) ? "active" : "")">
                <a href="/customer/MyAccounts/Index">
                    <span class="pcoded-mtext">تعریف ادمین پشتیبانی</span>
                    
                </a>
            </li>
            <li class="@(Request.Url.PathAndQuery.ToLower().Contains("/customer/MyAccounts/AssignWebsites".ToLower()) ? "active" : "")">
                <a href="/customer/MyAccounts/AssignWebsites">
                    <span class="pcoded-mtext">دسترسی ادمین ها</span>
                    
                </a>
            </li>

        </ul>
    </li>


</ul>*@
<ul class="pcoded-item pcoded-left-item">
      <li class=" @(Request.Url.PathAndQuery.ToLower().Contains("/customer/MyWebsites/Index".ToLower()) ? "active" : "")">
          <a href="/customer/MyWebsites/Index">
               <span class="pcoded-micon onMobile">
                              <i class="feather icon-menu"></i>
                          </span>
              <span class="pcoded-mtext">سایت های من</span>

          </a>
                </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="@(Request.Url.PathAndQuery.ToLower().Contains("/customer/MyAccounts/Index".ToLower()) ? "active" : "")">
        <a href="/customer/MyAccounts/Index">
             <span class="pcoded-micon onMobile">
                            <i class="feather icon-menu"></i>
                        </span>
            <span class="pcoded-mtext">تعریف ادمین پشتیبانی</span>

        </a>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="@(Request.Url.PathAndQuery.ToLower().Contains("/customer/MyAccounts/AssignWebsites".ToLower()) ? "active" : "")">
        <a href="/customer/MyAccounts/AssignWebsites">
             <span class="pcoded-micon onMobile">
                            <i class="feather icon-menu"></i>
                        </span>
            <span class="pcoded-mtext">دسترسی ادمین ها</span>

        </a>
               </li>
</ul>
<div class="pcoded-navigatio-lavel">عملیات های دیگر</div>
<ul class="pcoded-item pcoded-left-item">
    <li class="@(Request.Url.PathAndQuery.ToLower().Contains("/customer/UpgradePlan/PlanStatus".ToLower()) ? "active" : "")">
        <a href="/Customer/UpgradePlan/PlanStatus">
            <span class="pcoded-micon onMobile">
                <i class="feather icon-menu"></i>
            </span>
            <span class="pcoded-mtext">پلن های کاربری من</span>
        </a>
    </li>
</ul>
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
    <li class="@(Request.Url.PathAndQuery.ToLower().Contains("/customer/UpgradePlan/MyBills".ToLower()) ? "active" : "")">
        <a href="/Customer/UpgradePlan/MyBills">
            <span class="pcoded-micon onMobile">
                <i class="feather icon-menu"></i>
            </span>
            <span class="pcoded-mtext">صورتحساب</span>
        </a>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
    <li class="@(Request.Url.PathAndQuery.ToLower().Contains("/customer/PluginCustomized/MyWebsiteList".ToLower()) ? "active" : "")">
        <a href="/Customer/PluginCustomized/MyWebsiteList">
            <span class="pcoded-micon onMobile">
                <i class="feather icon-menu"></i>
            </span>
            <span class="pcoded-mtext">سفارشی سازی پلاگین</span>
        </a>
    </li>
</ul>
<ul class="pcoded-item pcoded-left-item onMobile">
    <li class="pcoded-hasmenu">
    <li class="@(Request.Url.PathAndQuery.ToLower().Contains("/Customer/UpgradePlan/Index".ToLower()) ? "active" : "")">
        <a href="/Customer/UpgradePlan/Index">
            <span class="pcoded-micon">
                <i class="feather icon-menu"></i>
            </span>
            <span class="pcoded-mtext"> پلن : @planName</span>
        </a>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item onMobile">
    <li class="pcoded-hasmenu">
    <li class="@(Request.Url.PathAndQuery.ToLower().Contains("/Customer/CustomerTickets/Index".ToLower()) ? "active" : "")">
        <a href="/Customer/CustomerTickets/Index">
            <span class="pcoded-micon ">
                <i class="feather icon-menu"></i>
            </span>
            <span class="pcoded-mtext">
                @Html.Partial("~/Areas/Common/Views/Shared/UnSeenTicketsCount.cshtml")
                
                تیکت ها
            </span>
        </a>
    </li>
</ul>


<ul class="pcoded-item pcoded-left-item onMobile">
    <li class="pcoded-hasmenu">
    <li class="@(Request.Url.PathAndQuery.ToLower().Contains("/Customer/CustomerTickets/Detail".ToLower()) ? "active" : "")">
        <a href="/Customer/CustomerTickets/Detail">
       <span class="pcoded-micon ">
                      <i class="feather icon-menu"></i>
                  </span>
            <span class="pcoded-mtext">  ارسال تیکت</span>
        </a>
    </li>
</ul>
  
            

             

</div>
</nav>
</div>


<div class="pcoded-content " >
    <div class="pcoded-inner-content">

        <!-- Main-body start -->
        <div class="main-body">

            @if (TempData["err"] != null)
            {

                <div class="alert alert-danger">
                    @TempData["err"]
                </div>

                TempData["err"] = null;
            }

            @RenderBody()

        </div>
        <!-- Main-body end -->

        @*<div id="styleSelector">

        </div>*@
    </div>
</div>
</div>
</div>
</div>


<script src="~/Content/adminty-master/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="~/Content/adminty-master/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="~/Content/adminty-master/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script src="~/Content/adminty-master/files/bower_components/popper.js/js/popper.min.js"></script>


<script src="~/Content/adminty-master/files/bower_components/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/adminty-master/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
<script src="~/Content/adminty-master/files/bower_components/modernizr/js/modernizr.js"></script>
<script src="~/Content/adminty-master/files/bower_components/modernizr/js/css-scrollbars.js"></script>
<script src="~/Content/adminty-master/files/assets/pages/prism/custom-prism.js"></script>
<script src="~/Content/adminty-master/files/bower_components/i18next/js/i18next.min.js"></script>
<script src="~/Content/adminty-master/files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script src="~/Content/adminty-master/files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script src="~/Content/adminty-master/files/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<script src="~/Content/adminty-master/files/assets/js/pcoded.min.js"></script>
<script src="~/Content/adminty-master/files/assets/js/menu/menu-rtl.js"></script>
<script src="~/Content/adminty-master/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/Content/adminty-master/files/assets/js/script.js"></script>


@*@Scripts.Render("~/bundles/js/customer")*@


<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
<script src="~/Content/Tools.js"></script>

@RenderSection("scripts", required: false)


<script>
    $.ajaxSetup({
        beforeSend: function() {
            Pace.start();
            document.getElementById('disableBackgroundholder').innerHTML = '<div id="disableBackground"><h2  style=" text-align: center">در حال خواندن اطلاعات</h2></div>';
            document.getElementById('loading2').style.display = 'block';
        },
        complete: function () {
            Pace.stop();
            document.getElementById('disableBackgroundholder').innerHTML = '';

            document.getElementById('loading2').style.display = 'none';
            }
    });
    /*const constantMock = window.fetch;
    window.fetch = function () {
        console.log(arguments);

        Pace.start();
        document.getElementById('disableBackgroundholder').innerHTML = '<div id="disableBackground"><h2  style=" text-align: center">در حال خواندن اطلاعات</h2></div>';
        document.getElementById('loading2').style.display = 'block';

        alert('hstart');;
    
        return new Promise((resolve, reject) => {
            constantMock.apply(this, arguments)
                .then((res) => {
                    document.getElementById('disableBackgroundholder').innerHTML = '';
                    alert('done');;

                    document.getElementById('loading2').style.display = 'none';

                    resolve(res);
                })
                .catch((error) => {
                    reject(error);
                    document.getElementById('loading').css.display = 'none';
                    document.getElementById('disableBackgroundholder').innerHTML = '';
                })
        });
    }*/
</script>
</body>
</html>